#hero {
  height: 100vh;
  color: white;
  background-image: linear-gradient(
    0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)
  )
  ,url("../../assets/img/job1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

section.materials {
  display: flex;
  flex-direction: row;
  padding: 15px;
  border-radius: 4px;
  > div.material-input {
    display: flex;
    flex-direction: column;
  }
  > div.preview {
      margin-left: 0.5rem;
      > mat-card {
        height: 100%;
        width: 15rem;
      }
  }
}
.material-item-list {
  list-style: none;
  padding: 0;
  margin-top: 0.5rem;
}

.user-notes {
  padding: 15px;
  border-radius: 4px;
  > mat-form-field {
    width: 100%;
  }
}

.page-header {
  padding: 1rem;
  display: flex;
  justify-content: center;
  width: 100%; 
}

.controls {
  > hr {
    height: 5px;
  }
  > div {
    display: flex;
    justify-content: space-between;
    > h3 {
      font-weight: bold;
    }
    > div {
      > button:first-child {
        margin-right: 0.5rem;
      }
    }
  }
}