*{
    box-sizing: border-box;
}

h1{ font-size: 3.5em;}
h2{ font-size: 2.7em;}
h3{ font-size: 2em;}
p{ font-size: 1.25em;}
li{ list-style: none;}



header{
    background-color: rgb(240,240,240);
    
}

header .logo{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: c2185b;
    font-size: 1.6em;

}

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    color: white;
    background-image: linear-gradient(
        0deg,
        rgb(0,0,0,0.5),
        rgb(0,0,0,0.5)
    )
    ,url("../../assets/img/Contractor3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

}

