<div fxLayout="row" fxLayoutAlign="center center">
    <div fxLayout="column" fxLayoutAlign="center center" style="height: 80vh">
        <mat-card class="kt-login-card">
            <form [formGroup]="loginForm" (ngSubmit)="submit()">
                <mat-card-title>
                    Login
                </mat-card-title>
                
                <mat-card-content>
                    <p>
                        <mat-form-field appearance="outline">
                            <mat-label>Email</mat-label>
                            <input matInput formControlName="Email" placeholder="Email">
                            <mat-icon matSuffix color="primary" *ngIf="!loginForm.controls['Email'].errors">sentiment_very_satisfied</mat-icon>
                            <mat-icon matSuffix color="warn" *ngIf="loginForm.controls['Email'].errors">sentiment_very_dissatisfied</mat-icon>
                            <mat-hint>Alphanumeric only</mat-hint>
                        </mat-form-field>
                    </p>
                    <p>
                        <mat-form-field appearance="outline">
                            <mat-label>Password</mat-label>
                            <input type="password" matInput formControlName="password" placeholder="Password">
                            <mat-icon matSuffix color="primary" *ngIf="!loginForm.controls['password'].errors">sentiment_very_satisfied</mat-icon>
                            <mat-icon matSuffix color="warn" *ngIf="loginForm.controls['password'].errors">sentiment_very_dissatisfied</mat-icon>
                            <mat-hint>Who am I?</mat-hint>
                        </mat-form-field>
                    </p>
                </mat-card-content>
                <mat-card-actions class="kt-card-actions" fxLayout="row" fxLayoutAlign="center center">
                    <button mat-raised-button color="primary" type="submit">
                        <mat-icon>account_circle</mat-icon> Submit
                    </button>
                </mat-card-actions>
            </form>
        </mat-card>
    </div>
</div>