<div>
    <img src="assets/img/pexels-kindel-media-8486899.jpg">
    <img src="assets/img/pexels-mikael-blomkvist-8960992.jpg">
    <img src="assets/img/pexels-tima-miroshnichenko-6474492.jpg">
</div>

<div>
    <h3> Price $4500</h3>
    <h3> Price $1500</h3>
    <h3> Price $2500</h3>
  </div>
  
  
  <iframe class="Discord" src="https://discord.com/widget?id=951513886006321202&theme=dark" width="350" height="500"
    allowtransparency="true" frameborder="0"
    sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
  