<div class="body">
  <!--this is the header with the logo under the navbar-->
  <header>
    <div class="container">
      <p class="logo">ProEstimates</p>
    </div>
  </header>

  <!--This section will display an image of a previews jobs-->
  <section id="hero">
    <h1>We are the best in the area!</h1>
  </section>

  <!--this will display an assurance that we are here for you-->
  <section id="the-best">
    <div class="container">
      <div class="img-container"></div>
      <div class="text">
        
      <h2>We are here for you!</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, eveniet! Quibusdam, inventore. Eius placeat
        amet
        voluptatem voluptatibus ut, minus, esse ipsam, pariatur sit accusantium fuga laudantium quo repudiandae
        distinctio
        inventore.</p>
      </div>
    </div>
  </section>

  <!--this section display the types of contractors-->
  <section id="our-services">
    <div class="container">
      <h2>Type of Contractors</h2>

      <div class="services">
        <div class="cards">
          <h2>Subcontractor</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis quisquam provident ex non rem facere,
            cupiditate, ratione laborum delectus eveniet doloremque ut! Optio aperiam omnis maiores inventore, officiis
            laborum sit.</p>
          <button>more info</button>
        </div>
        <div class="cards">
          <h2>Remodelers</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis quisquam provident ex non rem facere,
            cupiditate, ratione laborum delectus eveniet doloremque ut! Optio aperiam omnis maiores inventore, officiis
            laborum sit.</p>
          <button>more info</button>
        </div>
        <div class="cards">
          <h2>GC/Builders</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis quisquam provident ex non rem facere,
            cupiditate, ratione laborum delectus eveniet doloremque ut! Optio aperiam omnis maiores inventore, officiis
            laborum sit.</p>
          <button>more info</button>
        </div>
      </div>
    </div>
  </section>

  <!--this will display the benefits that we  offer-->
  <section id="characteristics">
    <div class="container">
      <h2>This is what we can offer</h2>
      <ul>
        <li>Benefits</li>
        <li>Suport</li>
        <li>Project Management</li>
        <li>Financials</li>
      </ul>
    </div>
  </section>
  
<!--the section to give the chance to jion us -->
  <section id="join-us">
    <h2>Join Us Now</h2>
    <button>Register</button>
  </section>

<!--the prices we charge for the services we offer-->
  <section id="prices">
    <div>
      <h2>Our Prices</h2>
      <ul>
        <ol>Subcontractor $1500</ol>
        <ol>Remodelers $2500</ol>
        <ol>GC/Builders $4500</ol>
      </ul>
    </div>

<!--this the comment area to comunicate with us -->
    <section id="help-comment">
      <h3>For help contact us on DISCORD</h3>
      <iframe class="Discord" src="https://discord.com/widget?id=951513886006321202&theme=dark" width="350" height="500"
        allowtransparency="true" frameborder="0"
        sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
    </section>

<!--small footer-->
    <footer>
      <div class="container">
        <p>&copy; ProEstimates 2022</p>
      </div>
    </footer>