<div class="body">
  <!--this is the header with the logo under the navbar-->
  <header>
    <div class="container">
      <p class="logo">ProEstimates</p>
    </div>
  </header>

  <!--This section will display an image of a previews jobs-->
  <section id="hero">
    <h1>We are the best in the area!</h1>
  </section>

  <!--this will display an assurance that we are here for you-->
  <section id="the-best">
    <div class="container">
      <div class="img-container"></div>
      <div class="text">
        
      <h2>We are here for you!</h2>
      <p>This is our promise to you that we will serve you all the way, you will be satisfy with the process guarantee. 
        We will put to your service our best team so you will feel like you are part of our family.</p>
      </div>
    </div>
  </section>

  <!--this section display the types of contractors-->
  <section id="our-services">
    <div class="container">
      <h2>Type of Contractors</h2>

      <div class="services">
        <div class="cards">
          <h2>Subcontractor</h2>
          <p>We can connect you with jobs in your area and we can assure you that you will have a job as soon as posible. </p>
          <button (click)="routeTo('/contractorslist')">more info</button>
        </div>
        <div class="cards">
          <h2>Remodelers</h2>
          <p>The best team at your sevice to connect you with the right people and the best pay jobs.</p>
          <button (click)="routeTo('/contractorslist')">more info</button>
        </div>
        <div class="cards">
          <h2>GC/Builders</h2>
          <p>This is our best General Contractor Builders program that we can give you the attention that you deserve,
            and you will have our best team for your success.
          </p>
          <button (click)="routeTo('/contractorslist')">more info</button>
        </div>
      </div>
    </div>
  </section>

  <!--this will display the benefits that we  offer-->
  <section id="characteristics">
    <div class="container">
      <h2>This is what we can offer</h2>
      <ul>
        <li>Benefits</li>
        <li>Support</li>
        <li>Project Management</li>
        <li>Financials</li>
      </ul>
    </div>
  </section>
  
<!--the section to give the chance to jion us -->
  <section id="join-us">
    <h2>Join Us Now</h2>
    <button (click)="routeTo('/register')">Register</button>
  </section>

<!--the prices we charge for the services we offer-->
  <section id="prices">
    <div>
      <h2>Our Prices</h2>
      <ul>
        <ol>Subcontractor $1500</ol>
        <ol>Remodelers $2500</ol>
        <ol>GC/Builders $4500</ol>
      </ul>
    </div>

<!--this the comment area to comunicate with us -->
    <section id="help-comment">
      <h3>For help contact us on DISCORD</h3>
      <iframe class="Discord" src="https://discord.com/widget?id=951513886006321202&theme=dark" width="350" height="500"
        allowtransparency="true" frameborder="0"
        sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
    </section>

<!--small footer-->
    <footer>
      <div class="container">
        <p>&copy; ProEstimates 2022</p>
      </div>
    </footer>