<div class="user">
    <span>{{ user?.user_email }}</span>
    <button [matMenuTriggerFor]="menu" mat-icon-button color="accent" aria-label="Example icon button with a bookmark icon">
        <mat-icon aria-hidden="false" aria-label="account icon">account_circle</mat-icon>
    </button>
</div>
<mat-menu #menu="matMenu">
    <button mat-menu-item (click)="account.logout()">
      <mat-icon>logout</mat-icon>
      <span>Logout</span>
    </button>
    <button mat-menu-item (click)="routeToAccountPage()">
      <mat-icon>notifications_off</mat-icon>
      <span>Account</span>
    </button>
</mat-menu>

