/**
    Can remove the class def below and can be replaced with

    ngb-carousel {
        max-width: 75vw; <-- this is what changes the width of the carousel
        margin: 10px auto;
    }
    ngb-carousel img {
        width: 100%;
        outline: none;
    }

    @from https://www.positronx.io/angular-responsive-carousel-examples/ 
    in section Adding Animation to NgBootstrap Carousel
*/
.ngb-carousel {
    display: flex;
    justify-content: center;
    padding: 40px;
    width: 100%;
}

.header {
    display: flex;
    justify-content: center;
    padding: 50px;
}


.picsum-img-wrapper{
    display: flex;
    align-content: stretch;
    justify-content: center;
    width: 100%;
}
