<li class="mat-card quote-card">
    <div class="quick-view">
        <div class="contractor">
            <span class="h6">{{ name }}</span>
            <small class="text-muted">Contractor: <a class="link" routerLink="/account/contractor">{{ contractor }}</a></small>
        </div>
        <div class="actions">
            <button mat-button color="accent" (click)="viewContent()">View</button>
            <button mat-icon-button color="error" (click)="deleteQuote()">
                <mat-icon>delete</mat-icon>
            </button>
        </div>
     </div>
    <div class="quote-content" #content>
        <hr/>
        Material List
    </div>
</li>
