
div.navbar-logo {
    display: flex;
    > span.navbar-app-title {
        margin-left: 0.5rem;
    }
}

div.navbar-aside {
    width: 100%; 
    display: flex;
    justify-content: flex-end;
    transition: ease-in-out;
}

div.navbar-main {
    width: 100%;
    display: flex;
    justify-content: space-between;
    > div.navbar-links {
        margin-left: 1rem;
        display: flex;
        align-items: center;
        > a {
            color: lighten(#607d8b,30%);
            margin: 0 0.2rem 0 0.2rem;
            text-decoration: none;
            &.active {
                text-decoration: underline;
            }
        }
    }
    > div.account-ctrl {
        > div.navbar-login-options {
            > button:first-child {
                margin-right: 1rem;
            }
        }
    }
}
