<mat-sidenav #drawer [opened]="isSidenavOpen" [@openClose]="isSidenavOpen ? 'open' : 'closed'" class="sidenav-container">
    <div class="sidenav-user">
      <div class="user" *ngIf="isAuthenicated">
        <div class="avatar">
          <img src="https://via.placeholder.com/300/09f/fff.png"/>
        </div>
        <h3>Email</h3>
      </div>
      <div class="account-options" *ngIf="!isAuthenicated">
          <button mat-stroked-button color="primary" (click)="routeTo('/login')">Login</button>
          <button mat-raised-button color="primary" (click)="routeTo('/register')">Register</button>
      </div>
    </div>
    <hr/>
    <mat-nav-list>
      <a mat-list-item routerLink="/" routerLinkActive="activeSidenav" class="sidenav-link">
        <mat-icon aria-hidden="false" aria-label="home icon">home</mat-icon>
        Home
      </a>
      <a mat-list-item routerLink="/contractors" routerLinkActive="activeSidenav" class="sidenav-link">
        <mat-icon aria-hidden="false" aria-label="home icon">list</mat-icon>
        Contractors
      </a>
      <a mat-list-item routerLink="/contact" routerLinkActive="activeSidenav" class="sidenav-link">
        <mat-icon aria-hidden="false" aria-label="home icon">contacts</mat-icon>
        Contact
      </a>
      <a *ngIf="isAuthenicated" mat-list-item routerLinkActive="activeSidenav" class="sidenav-link" (click)="account.logout()">
        <mat-icon aria-hidden="false" aria-label="home icon">logout</mat-icon>
        Logout
      </a>
      <a *ngIf="isAuthenicated" mat-list-item routerLink="/account" routerLinkActive="activeSidenav" class="sidenav-link">
        <mat-icon aria-hidden="false" aria-label="home icon">account_circle</mat-icon>
        Account
      </a>
    </mat-nav-list>
</mat-sidenav>